$btn-color: #35ab74;
$b-radius: 2rem;

@mixin pseudoElementStyle($width, $bg-color, $z-index) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: $width;
    border-radius: $b-radius;
    background-color: $bg-color;
    z-index: $z-index;
}

.btn {
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
    }
}

.btnStyle {
    display: inline-block;
    padding: .75rem 1rem;
    border-radius: $b-radius;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        @include pseudoElementStyle(0, darken($btn-color, 15%), -1);
        transition: all .3s;
    }

    &::after {
        @include pseudoElementStyle(100%, $btn-color, -2);
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}