.modelImg1 {
    height: 250px;
    width: 250px;
    object-fit: contain;
    position: absolute;
    top: 15%;
    left: 25%;
}

.modelImg2 {
    height: 250px;
    width: 250px;
    object-fit: contain;
    position: absolute;
    top: 15%;
    right: 25%;
}

.sampleSpan {
    position: absolute;
    top: 23.7%;
    left: 63.3%;
    display: inline-block;
    width: 110px;
    height: auto;
    opacity: .75;
    background: transparent;
}

.sampleImg {
    height: 100%;
    width: 100%;
    background: transparent;
}